
body {
  background-color: #f2f7ff;
  background-image: url("./../../img/back_tiles1.jpg");

}

.banner {
  height: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("./../../img/pdx_back1_sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-right: 100px;
    padding-top: 100px;
    text-align: right;
  }
}

hr {
	border-top: 1px solid #8c8b8b;
}

.hidden {
  display: none;
}

.container {
  background-color: #fffcf7;
  border-radius: 10px;
  border-color: none;
}
